<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head'); %>
    <title>Eventos </title>
    <link rel="stylesheet" href="/resources/css/checkbox.css">

</head>

<body>

  <%- include('./partials/header'); %>
  <div class="row">
    <% for(let event of events) { %>
      <%- include('./partials/checkListByEvent', {event: event}); %>
      
      <% } %>
    </div>
  <%- include('./partials/footer'); %>
</body>

</html>