<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head'); %>
    <title>Eventos </title>
    <link rel="stylesheet" href="/resources/css/checkbox.css">

</head>

<body>

  <%- include('./partials/header'); %>
  <div class="row">
    <% for(let dependency of [1,2,3,4,5,6,7,8]) { %>
      <%- include('./partials/checkListByEvent', {event: "Sizas", dependency: "Ajá"}); %>
      
      <% } %>
    </div>
  <%- include('./partials/footer'); %>
</body>

</html>